run_client
run_server
build
# Local Gradle caches/state
.gradle
.gradle-home
.idea
gradle/*
!gradle/wrapper
!gradle/wrapper/**
!gradle/wrapper/gradle-wrapper.properties
logs
versions
old_build.txt
/.gradle
/bin
/logs
/run
/.gradle-home
/.eclipse
/scripts/checkers/__pycache__
